<!DOCTYPE html>
<html lang="es">

<head>
    <!--Iniciamos el head con todo lo necesario a nivel básico-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="icon" href="./../favicon-litum.png" type="image/jpg">

</head>
<!--Dividimos y estructuramos el body. header, main, footer-->

<body>
    <header>
        <!--Lo primero que colocamos en la web es el logo, con su alt y clase-->
        <img src="./../assets/images/litum-logo.jpg" width="300" height="300" alt="Logotipo de la empresa" class="logo">

    </header>
    <main>
        <!--Después colocamos el navegador que utilizamos para ir de gagina a pagina de nuestra web-->
        <nav>
            <ul class="nav">
                <li><a href="./../index.html">Inicio</a></li>
                <li><a href="producto.html"> Imágenes </a></li>
                <li class="marca"><a href="contacto.html"> Contáctanos </a></li>
                <li><a href="presupuesto.html"> Presupuesto </a></li>
            </ul>
        </nav>
        <!--Título-->
        <h1>Contáctanos</h1>
        <br>
        <!--Lista con los datos, correo, etc...-->
        <ul class="datos">
            <li>Nombre Fiscal: Litum S.A.</li>
            <li>Dirección: C/ Gran Vía S/N</li>
            <li>C.P. 29529</li>
            <li>TLF:+34 655877496 </li>
            <li><a href="#">Email:litum@pedidos.com</a></li>
        </ul>
        <div class="mapa">
            <!--cargo una imagen de mapa, con link a google maps-->
            <a href="http://maps.google.com"><img src="./../assets/images/mapa-madrid.webp" width="1200" height="704"
                    alt="Mapa de Madrid" class="mapa"></a>
        </div>
    </main>
    <footer>
        <!--En el footer pondremos mediante listas las politicas y los links a redes-->
        <nav>
            <ul class="politicas">
                <li><a href="./../views/aviso-legal.html">Aviso Legal</a></li>
                <li><a href="./../views/politica.html">Política de Privacidad</a></li>
                <li><a href="./../views/cookies.html">Política de Cookies</a></li>
            </ul><br>
            <div class="pie"> C/ Gran Vía S/N.C.P. 29529. TLF:+34 655877496
                <a href="#"> litum@pedidos.com </a>
            </div>
        </nav>
        <nav>
            <ul class="redes">
                <li><a href="http://facebook.com"><img src="./../assets/images/logo-fb.png" width="256" height="256"
                            alt="Logo de facebook" class="redes"></a></li>
                <li><a href="http://instagram.com"><img src="./../assets/images/logo-insta.png" width="1000"
                            height="1000" alt="Logo de instagram" class="redes"></a></li>
                <li><a href="http://tiktok.com"><img src="./../assets/images/logo-tiktok.png" width="640"
                            height="640" alt="Logo de tiktok" class="redes"></a></li>
            </ul>
        </nav>
    </footer>
</body>
<!--cerramos footer, body y html-->

</html>