<!DOCTYPE html>
<html lang="es">
<!--Iniciamos el head con todo lo necesario a nivel básico-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="icon" href="./../favicon-litum.png" type="image/jpg">

</head>
<!--Dividimos y estructuramos el body. header, main, footer-->

<body>
    <header>
        <!--Lo primero que colocamos en la web es el logo, con su alt y clase-->
        <img src="./../assets/images/litum-logo.jpg" width="300" height="300" alt="Logotipo de la empresa" class="logo">

    </header>
    <main>
        <!--colocamos el navegador para viajar entre las páginas de nuestra web, con una lista-->
        <nav>
            <ul class="nav">
                <li><a href="./../index.html">Inicio</a></li>
                <li class="marca"><a href="producto.html"> Imágenes </a></li>
                <li><a href="contacto.html"> Contactanos </a></li>
                <li><a href="presupuesto.html"> Presupuesto </a></li>
            </ul>
        </nav>
        <!--cerramos nav y ponemos el título. después colocamos las imagenes para la galería -->
        <h1>Galería de Imágenes</h1>
        <div class="imagen">
            <img src="./../assets/images/lito1.jpg" width="900" height="1600" alt="ejemplo lito 1" class="galeria">
            <img src="./../assets/images/lito2.jpg" width="900" height="1600" alt="ejemplo lito 2" class="galeria">
            <img src="./../assets/images/lito3.jpg" width="900" height="1600" alt="ejemplo lito 3" class="galeria">
            <img src="./../assets/images/lito4.jpg" width="900" height="1600" alt="ejemplo lito 4" class="galeria">
            <img src="./../assets/images/lito5.jpg" width="900" height="1600" alt="ejemplo lito 5" class="galeria">
            <img src="./../assets/images/lito6.jpg" width="900" height="1600" alt="ejemplo lito 6" class="galeria">
            <img src="./../assets/images/lito7.jpg" width="900" height="1600" alt="ejemplo lito 7" class="galeria">
            <img src="./../assets/images/lito8.jpg" width="900" height="1600" alt="ejemplo lito 8" class="galeria">
            <img src="./../assets/images/lito9.jpg" width="900" height="1600" alt="ejemplo lito 9" class="galeria">
            <img src="./../assets/images/lito10.jpg" width="900" height="1600" alt="ejemplo lito 10" class="galeria">
            <img src="./../assets/images/lito2.jpg" width="900" height="1600" alt="ejemplo lito 11" class="galeria">
            <img src="./../assets/images/lito3.jpg" width="900" height="1600" alt="ejemplo lito 12" class="galeria">
        </div>
    </main>
    <footer>
        <!--En el footer pondremos mediante listas las politicas y los links a redes-->
        <nav>
            <ul class="politicas">
                <li><a href="./../views/aviso-legal.html">Aviso Legal</a></li>
                <li><a href="./../views/politica.html">Política de Privacidad</a></li>
                <li><a href="./../views/cookies.html">Política de Cookies</a></li>
            </ul>
            <div class="pie"> C/ Gran Vía S/N.C.P. 29529. TLF:+34 655877496
                <a href="#"> litum@pedidos.com</a>
            </div>
        </nav>
        <nav>
            <ul class="redes">
                <li><a href="http://facebook.com"><img src="./../assets/images/logo-fb.png" width="256" height="256"
                            alt="Logo de facebook" class="redes"></a></li>
                <li><a href="http://instagram.com"><img src="./../assets/images/logo-insta.png" width="1000"
                            height="1000" alt="Logo de instagram" class="redes"></a></li>
                <li><a href="http://tiktok.com"><img src="./../assets/images/logo-tiktok.png" width="640"
                            height="640" alt="Logo de tiktok" class="redes"></a></li>
            </ul>
        </nav>
    </footer>
    <!--cerramos footer, body y html-->
</body>

</html>